<a href="https://colab.research.google.com/github/Bhagyashree2k2/ADA-pograms/blob/main/Python_19th_apr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
file1=open("file1.txt",'w')

In [2]:
file1.write("This is a python file")
file1.close()

In [3]:
count=0
for line in open('file1.txt'):
  for word in line:
     count=count+1
print(count)

21

In [4]:
count=0
for line in open('file1.txt'):
  list=line.split(" ")
len(list)

5

In [5]:
file2=open("file2.txt",'w')

In [6]:
file2.write("This is python lab\nWe are executing files\nhello world")
file2.close()

In [7]:
count = 0 
for line in open("file2.txt"):
  count=count+1
print(count)

3

In [8]:
file3=open("file3.txt",'w')
file3.write("I study in NIE\nNIE is an autonomous college\nNIE is in mysore")
file3.close()

In [9]:
count = 0
for line in open("file3.txt"):
   print(line)

I study in NIE

NIE is an autonomous college

NIE is in mysore

In [10]:
from collections import Counter
with open('file3.txt','r') as file:
    content=file.read()
    words=content.split()
    print(Counter(words))
    for i in Counter(words):
      if i == 'NIE':
        print(Counter(words)[i])

Counter({'NIE': 3, 'in': 2, 'is': 2, 'I': 1, 'study': 1, 'an': 1, 'autonomous': 1, 'college': 1, 'mysore': 1})
3

In [11]:
vowels=['A','E','I','O','U','a','e','i','o','u']
from collections import Counter
with open('file3.txt','r') as file:
    content=file.read()
    print(Counter(content))
    for i in Counter(content):
      if i in vowels:
        print(i,Counter(content)[i])

Counter({' ': 10, 's': 5, 'o': 5, 'I': 4, 'i': 4, 'n': 4, 'u': 3, 'N': 3, 'E': 3, 'e': 3, 't': 2, 'y': 2, '\n': 2, 'a': 2, 'm': 2, 'l': 2, 'd': 1, 'c': 1, 'g': 1, 'r': 1})
I 4
u 3
i 4
E 3
a 2
o 5
e 3

In [13]:
#longest word in a paragraph
file4=open("file4.txt",'w')
file4.write("hello good evening have a great day")
file4.close()

In [14]:
with open("file4.txt","r") as file:
  sentence=file.read()
string=max(sentence.split(),key=len)
print(string)

evening

In [18]:
import random
file5 = open("file5.txt",'w')
for i in range(100):
    file5.write(str(random.randint(10,99))+" ")

file5.close()

In [28]:
with open("file5.txt",'r') as file:
  numbers=file.read()
num=[]
num=numbers.split()
intNum=[]
for n in num:
  intNum.append(int(n))
print(intNum)
sum=0
for n in intNum:
  sum=sum+i
mean=sum/100
print(mean)

[94, 91, 76, 95, 51, 97, 14, 64, 10, 10, 24, 40, 89, 73, 35, 31, 17, 34, 77, 12, 91, 85, 38, 34, 38, 43, 65, 49, 30, 79, 83, 51, 48, 20, 44, 90, 11, 70, 11, 67, 94, 57, 61, 33, 53, 67, 73, 62, 96, 53, 18, 94, 67, 60, 47, 90, 42, 64, 60, 48, 96, 81, 42, 84, 61, 15, 50, 31, 14, 17, 96, 85, 17, 97, 82, 83, 90, 44, 83, 91, 23, 65, 52, 13, 22, 17, 19, 70, 32, 25, 59, 89, 17, 14, 41, 60, 12, 79, 11, 26]
99.0

In [29]:
import statistics
sd=statistics.stdev(intNum)
sd

28.220049824924338

In [30]:
var=sd*sd
var

796.3712121212121